{% extends 'country/flatpages/default.html' %}
{% load static %}
{% load custom_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/Country/story.css' %}">
{% endblock styles %}

{% block content %}
    <script type="text/javascript">
    const url_string = window.location.href;
    const url = new URL(url_string);
    const paramValue = url.searchParams.get("section") ? url.searchParams.get("section") : '';
    const clearurl = window.location.href.split('?')[0]
    </script>

    <div class="story_view_main">
        <div>
            <h1>СПИСОК РЕЦЕПТОВ</h1>
        </div>
        <div class="menu_section">
            {% for i in receipt.id|sections %}
                <a href="?section={{ i.id }}">{{ i.title }}</a>
            {% endfor %}
        </div>
    <br><br>


    {% for receipt in receipt_list %}
        <div class="story_view_receipt">
            <div class="story_view_receipt_left">
                <h2><a href="/countryreceipts/receipt/{{ receipt.id }}">{{ receipt.name }} </a></h2>
                <a href="/countryreceipts/country/{{ receipt.country.id }}"><strong>{{ receipt.country.title }}</strong></a> --
                <a href="/countryreceipts/receipts/?section={{ receipt.section.id }}">{{ receipt.section.title }}</a><br>
            </div>
            <div class="story_view_receipt_right">
                <div>
                    <p>{{ receipt.description | safe }}</p>
                </div>
                <hr>
                <div class="story_view_receipt_author">
                    <div>
                        Автор:
                            {{ receipt.author.profile.nikname }}
                            - {{ receipt.time_creation | date:'d/m/y H:i' }}
                        <br><br>
                        Комментариев: {{ receipt.id|comment_count_country }}
                    </div>
                </div>
            </div>
         </div><br>
    {% endfor %}

    <br>
    <ul>
    {% for i in page_obj.paginator.page_range %}
        {% if i != page_obj.number %}
            <li class="inactive">
                <a href="" onclick="location.href=clearurl+'?page={{ i }}&section='+paramValue;return false;">{{ i }}</a>
            </li>
        {% else %}
            <li class="active">
                <a href="" onclick="location.href=clearurl+'?page={{ i }}&section='+paramValue;return false;">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>

    </div>

{% endblock content %}