{% extends 'country/flatpages/default.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/Country/start.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}"/>
{% endblock styles %}

{% block content %}
<div class="main_block_local">

    <div data-slick='{"slidesToShow": 3, "slidesToScroll": 1}' class="multiple-items karusel">
        {% for section in sections %}
            <div class="block_karusel" onclick="document.location='/countryreceipts/receipts/?section={{ section.id }}'">
                <h3>{{ section.title }}</h3>
            {{ section.description }}</div>
        {% endfor %}
    </div></div>


<br><br>
<div class="receipt_line">
   <img class="receipt_line_image" src="{% static 'images/LA.png' %}" alt="divide line"/>
<br><br>
</div>

<div class="main_block_center">
    <div class="main_block_center_left">
        <h2>НОВЫЕ РЕЦЕПТЫ</h2>
        <br><br>
        <div class="story_view_main">
            {% for receipt in new_receipts %}
                 <div class="story_view_receipt">
                    <div class="story_view_receipt_left">
                        <h2><a href="/countryreceipts/receipt/{{ receipt.id }}">{{ receipt.name }} </a></h2>
                        <a href="/countryreceipts/country/{{ receipt.country.id }}"><strong>{{ receipt.country.title }}</strong></a> --
                        <a href="/countryreceipts/receipts/?section={{ receipt.section.id }}">{{ receipt.section.title }}</a><br>
                    </div>
                    <div class="story_view_receipt_right">
                        <div>
                            <p>{{ receipt.description | safe }}</p>
                        </div>
                        <hr>
                        <div class="story_view_receipt_author">
                            <div>
                                Автор:
                                    {{ receipt.author.profile.nikname }}
                                    - {{ receipt.time_creation | date:'d/m/y H:i' }}

                            </div>
                        </div>
                    </div>
                 </div><br>
            {% endfor %}
        </div>
    </div>
    <div class="main_block_center_right">
         <h2>НОВЫЕ КОММЕНТАРИИ</h2>
    <br><br>
        {%  for comment in new_comments %}
            <div class="dish">
                {{ comment.text | safe}}
                <hr>
            <div class="receipt_author_edit">
                <div>
                    Автор:  <strong>
                            <a href="/accounts/user/{{ comment.author.profile.id }}">{{ comment.author.profile.nikname }} </a>
                        </strong> -
                            <strong>
                            <a href="/countryreceipts/receipt/{{ comment.receipt.id }}">"{{ comment.receipt.name }}"</a></strong>
                             --
                            {{ comment.time_creation | date:'d/m/y H:i' }}
                            <br>
                </div>
            </div>
            </div>
        {%  endfor %}
    </div>
</div>

  <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slick/slick.min.js' %}"></script>

  <script type="text/javascript">
    $('.multiple-items').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
    });
  </script>

{% endblock content %}