{% extends 'tuliuscookbook/flatpages/default.html' %}
{% load static %}
{% load custom_tags %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/Tuliuscookbook/story.css' %}">
{% endblock styles %}

{% block content %}
    <script type="text/javascript">
    const url_string = window.location.href;
    const url = new URL(url_string);
    const paramValue = url.searchParams.get("sort_by") ? url.searchParams.get("sort_by") : 'title';
    const clearurl = window.location.href.split('?')[0]
    </script>

    <div class="main_div">

        <form action="" method="get" class="search_form">
            <strong>Сортировать по:</strong>
            <select size="1" name="sort_by">
                <option selected value="title">Названию</option>
                <option value="receipts_count">Кол-во рецептов</option>
            </select><br><br>
            <input type="text" class="search_input" name="story" placeholder="Поиск сюжета">
            <button type="submit" class="Search_button">Применить</button>
        </form>

        <table class="table">
        <thead>
            <th>Название</th>
            <th>Количество рецептов</th>
        </thead>
        <tbody>
            {% for game in games %}
                <tr class='table_th' onclick="document.location='/tuliuscookbook/games/{{ game.id }}'">
                    <td class="left_td">
                        {{ game.title }}
                    </td>
                    <td>
                       {{ game.number }}
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    <br>
    <ul>
    {% for i in page_obj.paginator.page_range %}
        {% if i != page_obj.number %}
            <li class="inactive">
                <a href="" onclick="location.href=clearurl+'?page={{ i }}&sort_by='+paramValue;return false;">{{ i }}</a>
            </li>
        {% else %}
            <li class="active">
                <a href="" onclick="location.href=clearurl+'?page={{ i }}&sort_by='+paramValue;return false;">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>

    </div>

{% endblock content %}