{% extends 'tuliuscookbook/flatpages/default.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/Tuliuscookbook/receipt.css' %}">
{% endblock styles %}

{% block content %}
    {% if request.user.id == object.author.id %}
        <h1>Удалить рецепт {{ object.dish_name }}?</h1>

        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Удалить" id="delete" class="submit_button"/>
        </form>
    {% else %}
        <h1> Вы хотите удалить чужой рецепт. Так нельзя!</h1>
    {% endif %}
{% endblock content %}