{% extends 'tuliuscookbook/flatpages/default.html' %}
{% load static %}
{% block styles %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'styles/Tuliuscookbook/receipt_edit.css' %}">
{% endblock %}


{% block content %}
{% if request.user.profile.nikname %}
    <div class="receipt_edit_title"><h2> БЛЮДО
    {% if object.dish_name %}
        - {{ object.dish_name }}
    {% endif %}
    </h2></div>

    <form enctype="multipart/form-data" method="post" class="receipt_form">
        {% csrf_token %}
    <div>
        <input type="hidden" name="author" value="{{ request.user.id }}">
    <div class="receipt_top_edit">
        <div class="receipt_edit_text">
        <table>
        <tr>
            <td>
                Название блюда:
            </td>
            <td>
                {{ form.dish_name }}
            </td>
        </tr>
        <tr>
            <td>
                Фото блюда:
            </td>
            <td>
                {{ form.image }}
            </td>
        </tr>
        <tr>
            <td>
                К сюжету:
            </td>
            <td>
                <select size="1" name="story" required id="id_story">
                    {% if object.story %}
                        <option selected value={{ object.story.id }}>{{ object.story }}</option>
                    {% endif %}
                    {% for story in stories %}
                        <option value="{{ story.id }}">{{ story.title }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Раздел:
            </td>
            <td>
                {{ form.section }}
            </td>
        </tr>
        </table>
        </div>
        <div class="receipt_edit_image">
            {%  if object.image %}
                <img class='receipt_image' src="{ object.image.url }}" alt="receipt image"/>
            {% else %}
                <img class='receipt_image' src="{% static 'images/no_foto.jpg' %}" alt="no image"/>
            {% endif %}
        </div>
    </div>
        <br>
        <h3>Краткое описание:</h3> {{ form.description | safe }}<br>
        <h3>Ингредиенты:</h3> {{ form.ingredient | safe }}<br>
        <h3>Рецепт: </h3>{{ form.recipe_text | safe }}<br>

        <button class='submit_button' type="submit">СОХРАНИТЬ</button>
    </div>
    </form>
{% else %}
    Сперва заполните <a href="/accounts/{{ request.user.id }}/profilecreate">профиль. </a>
{% endif %}

{% endblock content %}