{% extends 'tuliuscookbook/flatpages/default.html' %}
{% load static %}
{% load custom_tags %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/Tuliuscookbook/start.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}"/>
{% endblock styles %}

{% block content %}
<div class="main_block_local">
    <div>
        <img class="main_block_local_img" src="{% static 'images/kofe.png' %}" />
    </div>
    <div data-slick='{"slidesToShow": 3, "slidesToScroll": 1}' class="multiple-items karusel">
        {% for section in sections %}
            <div class="block_karusel" onclick="document.location='/tuliuscookbook/receipts/?section={{ section.id }}'">
                <h3>{{ section.title }}</h3>
            {{ section.description }}
            </div>
        {% endfor %}
    </div>
    <div>
        <img class="main_block_local_img" src="{% static 'images/raven.png' %}" />
    </div>
</div>


<br><br>
<div class="receipt_line">
   <img class="receipt_line_image" src="{% static 'images/LA.png' %}" alt="divide line"/>
<br>
</div>

<div class="main_block_center">
    <div class="main_block_center_left">
        <h2 class="align_center">НОВЫЕ РЕЦЕПТЫ</h2>
        {% for receipt in new_receipts %}
            <div class="dish">
            <h3><a href="/tuliuscookbook/receipt/{{ receipt.id }}">{{ receipt.dish_name }} </a></h3>
                {{ receipt.description | safe}}
                <hr>
            <div class="receipt_author_edit">
                <div>
                    {% if request.user.id == receipt.author.id %}
                        <a class='story_view_comment_edit_a' href="/tuliuscookbook/receipt/{{ receipt.id }}/edit/">Редактировать</a>
                        <a class='story_view_comment_delete_a' href="/tuliuscookbook/receipt/{{ receipt.id }}/delete/">Удалить</a>
                    {% endif %}
                </div>
                <div>
                    Автор:  <strong>
                            <a href="/accounts/user/{{ receipt.author.profile.id }}">{{ receipt.author.profile.nikname }} </a>
                        </strong> -
                            <strong>
                            <a href="/tuliuscookbook/games/{{ receipt.story.id }}">"{{ receipt.story.title }}"</a></strong>
                            <br>
                </div>
            </div>

            </div>
        {% endfor %}
    </div>
    <div class="main_block_center_right">
        <h2>СЛУЧАЙНЫЙ ФАКТ</h2>
        <div class="fact">

            {{ useless_fact.text | safe }}

        </div>
            <br><br>
        <div class="bottom_block">
            <img class="bottom_img" src="{% static 'images/artishok.png' %}" />
        </div>
        <h2>НОВЫЕ КОММЕНТАРИИ</h2>
        {%  for comment in new_comments %}
            <div class="dish">
                {{ comment.text | safe}}
                <hr>
            <div class="receipt_author_edit">
                <div>
                    Автор:  <strong>
                            <a href="/accounts/user/{{ comment.author.profile.id }}">{{ comment.author.profile.nikname }} </a>
                        </strong> -
                            <strong>
                            <a href="/tuliuscookbook/receipt/{{ comment.recipe.id }}">"{{ comment.recipe.dish_name }}"</a></strong>
                             --
                            {{ comment.time_creation | date:'d/m/y H:i' }}
                            <br>
                </div>
            </div>
            </div>
        {%  endfor %}

    </div>
</div>



  <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slick/slick.min.js' %}"></script>

  <script type="text/javascript">
    $('.multiple-items').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
    });
  </script>

{% endblock content %}