{% extends 'tuliuscookbook/flatpages/default.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/Tuliuscookbook/start.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}"/>
{% endblock styles %}

{% block content %}
<div class="main_block_local">

    <div data-slick='{"slidesToShow": 3, "slidesToScroll": 1}' class="multiple-items karusel">
        {% for section in sections %}
            <div class="block_karusel" onclick="document.location='/tuliuscookbook/receipts/?section={{ section.id }}'">
                <h3>{{ section.title }}</h3>
            {{ section.description }}</div>
        {% endfor %}
    </div></div>


<br><br>
<div class="receipt_line">
   <img class="receipt_line_image" src="{% static 'images/LA.png' %}" alt="divide line"/>
<br><br>
    <h2>НОВЫЕ РЕЦЕПТЫ</h2>
</div>
<br><br>
<div class="story_view_main">
    {% for receipt in new_receipts %}
         <div class="story_view_receipt">
            <div class="story_view_receipt_left">
                <h2><a href="/tuliuscookbook/receipt/{{ receipt.id }}">{{ receipt.dish_name }} </a></h2>
                <a href="/tuliuscookbook/receipts/?section={{ receipt.section.id }}">{{ receipt.section.title }}</a><br>
            </div>
            <div class="story_view_receipt_right">
                <div>
                    <strong>{{ receipt.description | safe}}</strong>
                </div>
                <div class="story_view_receipt_author">
                    <div>
                        {% if request.user.id == receipt.author.id %}
                            <a class='story_view_comment_edit_a' href="/tuliuscookbook/receipt/{{ receipt.id }}/edit/">Редактировать</a>
                            <a class='story_view_comment_delete_a' href="/tuliuscookbook/receipt/{{ receipt.id }}/delete/">Удалить</a>
                        {% endif %}
                    </div>
                    <div>
                        Автор:
                        <a href="/accounts/user/{{ receipt.author.id }}">{{ receipt.author.profile.nikname }} </a>
                            - {{ receipt.time_creation | date:'d/m/y H:i' }} -
                        <a href="/tuliuscookbook/games/{{ receipt.story.id }}">"{{ receipt.story.title }}"</a>
                    </div>
                </div>
            </div>
         </div><br>
    {% endfor %}
</div>

  <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slick/slick.min.js' %}"></script>

  <script type="text/javascript">
    $('.multiple-items').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
    });
  </script>

{% endblock content %}