.main_block_local{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.main_block_local_img{
    width: 200px;
}

.karusel{
    width: 600px;
    height: 140px;
}

.block_karusel{
    width: 140px;
    height: 140px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    background-image: url(../../images/breadcrumbs.png);
}

.block_karusel:hover{
    cursor: pointer;
}

.receipt_line{
    text-align: center;
}

.receipt_line_image{
    height: 50px;
    position: relative;
    bottom:50px;
}

.story_view_main{
    text-align: center;
}

h2{
    font-size: 1.5em;
}

h2 a{
    text-decoration: none;
    color: black;
}

h3 a{
    color: #93051a;
}

.align_center{
    text-align: center;
}

.main_block_center{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main_block_center_left{
    padding: 10px;
    /*border-right: 1px solid black;*/
}

.dish{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    background-image: url(../../images/breadcrumbs.png);
}

.fact{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    background-image: url(../../images/breadcrumbs.png);
    height: 175px;
    align-content: center;
    /*width: 50%;*/
    /*margin: 0 auto;*/
}

.main_block_center_right{
    text-align: center;
    align-items: center;
    padding: 10px;

}

.bottom_block{
    text-align: center;
}

.bottom_img{
    width: 75%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #93051a;
}

.menu_section{
    display: flex;
    justify-content: space-around;
}

.receipt_author_edit{
    display: flex;
    justify-content: space-between;
}

.story_view_comment_edit_a{
    color: darkblue;
    text-decoration: none;
    padding: 0 20px 0 0;
}

.story_view_comment_delete_a {
    color: darkred;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .main_block_local_img{
        display: none;
    }
}


@media all and (orientation: portrait) and  (max-device-width: 812px) {
    .karusel{
        width: 700px;
        height: 250px;
    }

    .block_karusel{
        width: 140px;
        height: 250px;
        margin: 10px;
        font-size: 1.5em;
    }

    .story_view_main{
        font-size: 1.5em;
    }

    h2{
        font-size: 2em;
    }

    .story_section{
        font-size: 1.5em;
    }

    .story_view_receipt_right{
        font-size: 1.5em;
    }

    .main_block_center{
        display: block;
    }
}