{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/index_style.css' %}">
</head>

<body>
    <div class="main">
        <div class="block" onclick="document.location='tuliuscookbook/start/'">
            <img class='block_img' src="static/images/tulius.png" alt="Tulius logo" />
            <h1> Кулинарная книга</h1>
        </div>

        <div class="block" onclick="document.location='countryreceipts/start/'">
            <img class='block_img' src="static/images/duck_big.png" alt="Duck logo" />
            <h1> Блюда разных стран</h1>
        </div>
    </div>
</body>

</html>
